@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="_theme" />

<nav class="landing-nav">
    <div class="wrap nav-inner">
        <MudText Typo="Typo.h6">KommissMe</MudText>
        <div class="nav-links">
            <a href="">How it works</a>
            <a href="">Features</a>
            <a href="">For artists</a>
            <a href="">For Clients</a>
        </div>
        @*
            Temporal, esto debería llevarte a /dashboard si estás logueado, o a /auth si no lo estás
        *@
        <MudButton Variant="Variant.Outlined" Href="/dashboard" Color="Color.Primary" class="rounded-pill" Style="font-family: 'JetBrains Mono', monospace;">Open Dashboard</MudButton>
    </div>
</nav>

<main>
    @Body
</main>


@code {
    MudTheme _theme = new MudTheme
    {
        PaletteDark = new PaletteDark
        {
            Background = "#0b0a0e"
        }
    };
}